{% load i18n %}
{% load mptt_tags %}

<p>{% for b in breadcrumbs %}
    <a href="{{ b.url }}" title="{% blocktrans with place=b.label %}show proposals in: {{ place }}{% endblocktrans %}">{{ b.label }}</a>
    {% if not forloop.last %} > {% endif %}
{% endfor %}</p>
