{% extends 'agora/list.html' %}
{% block content %}

{% load i18n %}
{% load usertags %}

<div class="p_list">
    {% if not ts %}
        <span class="p_empty_list">{% trans "There are no proposals matching the selected criterias." %}</span>
    {% else %}
        <div class="pagination">
            <span class="step-links">
                {% if pr.has_previous %}
                    <a href="?page={{ pr.previous_page_number }}{{ qstr }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ pr.number }} of {{ pr.paginator.num_pages }}.
                </span>

                {% if pr.has_next %}
                    <a href="?page={{ pr.next_page_number }}{{ qstr }}">next</a>
                {% endif %}
            </span>
        </div>
        <ul>
        {% for t in ts %}
            {% with p=t.p control_form=t.control_form breadcrumbs=t.breadcrumbs %}
            <li><div class="p_card">
                <div class="p_title">
                    {% include 'proposal/title.html' %}
                </div>
                <div class="p_place">
                    {% include 'place/breadcrumb.html' %}
                </div>
                <div class="p_picture">
                    {% include 'cover/insert.html' %}
                </div>
                <div class="p_sponsor">
                    {% include 'proposal/sponsors.html' %}
                </div>
                <div class="p_control">
                    {% include 'control/control.html' %}
                </div>
                <div class="p_tags">
                    {% include 'tag/list.html' %}
                </div>
                <div class="p_menu">
                    {% include 'proposal/menu.html' %}
                </div>
            </div></li>
            {% endwith %}
        {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}
