{% extends "agora/home.html" %}

{% block content %}

<h3>{% block popup_title %}invalid: flat_popup title{% endblock %}</h3>
<h4>{% block popup_subtitle %}invalid: flat_popup subtitle{% endblock %}</h4>
<h5>{% block popup_subsubtitle %}invalid: flat_popup subsubtitle{% endblock %}</h4>

<div>{% block popup_content %}invalid: flat_popup content{% endblock %}</div>

<p><a href="{% block popup_close %}invalid: flat_popup close{% endblock %}">return</a></p>

{% endblock %}
