<div><h1>title</h1></div>
<div id="top">
    {% include 'search/searchbox.html' %}
</div>
<div id="menu_global">
    <h2>global menu</h2>
    {% if user.is_authenticated %}
        <a href="{% url 'account:userview' username=user.username %}">{{ user.username }}</a>
        (<a href="{% url 'account:logout' %}">logout</a>)<br>
    {% else %}
        <a href="{% url 'account:register' %}">register</a><br>
        <a href="{% url 'account:login' %}">login</a><br>
    {% endif %}
    <a href="{% url 'listing:standard' %}">listing</a><br>
    {% if user.is_authenticated %}
        <a href="{% url 'listing:standard' %}?pi={{ user.account.place.pk }}">local</a><br>
        <a href="{% url 'listing:standard' %}?uu={{ user.pk }}">undecided</a><br>
        <a href="{% url 'listing:standard' %}?uf={{ user.pk }}">in favor</a><br>
        <a href="{% url 'listing:standard' %}?ua={{ user.pk }}">cons</a><br>
        <a href="{% url 'germ:list' %}">germs</a><br>
    {% endif %}
    <a href="{% url 'germ:new' %}">new germ</a><br>
</div>
{% comment %}
<div id="menu_context">
    <h2>contextual menu</h2>
</div>
{% endcomment %}
<hr>
<div id="content">
    {% block content %}
    <h2>content</h2>
    <span>no content</span>
    {% endblock %}
</div>
