{% extends 'cover/popup.html' %}
{% load i18n %}

{% block popup_subsubtitle %}{% trans "New cover" %}{% endblock %}

{% block popup_content %}
<p>{% trans "System says: Upload a picture to serve as the new cover for this proposal. Ensure you detain all rights over the document and that its content is compatible with the local legislation. Large images will be resized to fit 150 by 150 pixels." %}</p>

<form action="{% url 'proposal:cover:add' pk=pk slug=slug %}" method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.picture }}
    <div>
    <p>{{ form.message }}</p>
    {% if form.message.errors %}
        <p>{{ form.message.errors }}</p>
    {% endif %}
    </div>
    <input type="submit" name="add" value="{% trans "submit picture" %}" />
</form>
{% endblock %}
