{% extends 'cover/popup.html' %}
{% load staticfiles %}
{% load i18n %}

{% block popup_subsubtitle %}{% trans "Deletion" %}{% endblock %}

{% block popup_content %}
{% with cover=c %}
    {% include 'cover/item.html' %}
{% endwith %}

<form action="{% url 'proposal:cover:delete' pk=pk slug=slug cover=c.pk %}" method="post" novalidate>
    {% csrf_token %}
    <div>
    <p>{{ form.message }}</p>
    {% if form.message.errors %}
        <p>{{ form.message.errors }}</p>
    {% endif %}
    </div>
    <input type="submit" name="delete" value="{% trans "delete" %}" />
</form>
{% endblock %}
