{% load staticfiles %}
{% load i18n %}

<p>{% if p.cover.picture %}
    <img src="{{ p.cover.picture.url }}" alt="{% trans "cover picture" %}"/>
{% else %}
    <img src="{% static 'cover/default.png' %}" alt="{% trans "cover picture" %}"/>
{% endif %}</p>
