{% load staticfiles %}
{% load i18n %}
{% load usertags %}

<div>
<figure>
{% if cover.deleted %}
    <img src="{% static 'cover/deleted.png' %}" alt="{% trans "cover" %}">
{% else %}
{% if cover.picture %}
    <img src="{{ cover.picture.url }}" alt="{% trans "cover" %}">
{% else %}
    <img src="{% static 'cover/default.png' %}" alt="{% trans "cover" %}">
{% endif %}
{% endif %}
</figure>
<figcaption>
{% getuserlink cover.creator p %}
<p><small>{% blocktrans with creator=userlink upload_date=cover.creation_date %}Uploaded by {{ creator }} on {{ upload_date }}{% endblocktrans %}</small></p>
</figcaption>
</div>
