{% extends 'cover/popup.html' %}
{% load i18n %}

{% block popup_subsubtitle %}{% trans "Selection" %}{% endblock %}

{% block popup_content %}

<div>
<p>{% trans "Current cover:" %}</p>
{% with cover=p.cover %}
    {% include 'cover/item.html' %}
{% endwith %}
</div>

<div>
<p>{% trans "New cover:" %}</p>
{% with cover=c %}
    {% include 'cover/item.html' %}
{% endwith %}
</div>

<form action="{% url 'proposal:cover:select' pk=pk slug=slug cover=c.pk %}" method="post" novalidate>
    {% csrf_token %}
    <div>
    <p>{{ form.message }}</p>
    {% if form.message.errors %}
        <p>{{ form.message.errors }}</p>
    {% endif %}
    </div>
    <p><input type="submit" name="select" value="{% trans "apply" %}" /></p>
</form>
{% endblock %}
