{% extends 'cover/popup.html' %}
{% load i18n %}

{% block popup_subsubtitle %}{% trans "History" %}{% endblock %}

{% block popup_content %}

<p>{% trans "Current cover:" %}</p>
{% with cover=p.cover %}
    {% include 'cover/item.html' %}
{% endwith %}

<p>
{% trans "Add a new cover" as l_add %}
<a href="{% url 'proposal:cover:add' pk=pk slug=slug %}" title="{{ l_add }}">{{ l_add }}</a>
</p>

<p>{% trans "Other covers:" %}</p>
<ul>
    {% for c in covers reversed %}
        {% if c != p.cover %}
        <li>
            {% with cover=c %}
                {% include 'cover/item.html' %}
            {% endwith %}
            {% if not c.deleted %}
            <ul>
                <li>
                <a href="{% url 'proposal:cover:select' pk=pk slug=slug cover=c.pk %}" title="select as cover">select</a>
                </li>
            {% if c != p.cover_root %}
                <li>
                <a href="{% url 'proposal:cover:delete' pk=pk slug=slug cover=c.pk %}" title="delete">delete</a>
                </li>
            {% endif %}
            </ul>
        {% endif %}
        </li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}
