{% load usertags %}
{% load i18n %}

{% trans "vote: for" as infavor %}
{% trans "vote: against" as against %}
{% trans "vote: undecided" as undecided %}
{% trans "change my vote" as reset_vote %}
{% trans "follow" as follow %}
{% trans "poke" as poke %}

{% if control_form.vote.value %}
    <p>{% blocktrans with vote=control_form.vote.value %}You have voted: {{ vote }}{% endblocktrans %}</p>
{% else %}
   <p>{% trans "You have not voted yet." %}</p>
{% endif %}

<p><form action="{{ control_callback }}" method="post" novalidate>
    {% csrf_token %}
    {{ control_form.proposal }}
    {{ control_form.vote }}
    {{ control_form.followed }}
    {{ control_form.poked }}
    {% if control_form.vote.value %}
        <input type="submit" name="reset" value="{{ reset_vote }}"/>
    {% else %}
        <input type="submit" name="infavor" value="{{ infavor }}"/>
        <input type="submit" name="against" value="{{ against }}"/>
        <input type="submit" name="undecided" value="{{ undecided }}"/>
    {% endif %}
    <input type="submit" name="follow" value="{{ follow }}{% if control_form.followed.value %}*{% endif %}"/>
    <input type="submit" name="poke" value="{{ poke }}{% if control_form.poked.value %}*{% endif %}"/>
</form></p>
