{% extends 'agora/content.html' %}
{% block content %}

{% load i18n %}

<div>
    <form action="{% url 'germ:new' %}" method="post" novalidate>
        {% csrf_token %}
        <fieldset>
            <h1>{% trans "Create a proposal" %}</h1>
            {{ form.germ_id }}
        </fieldset>
        <fieldset>
            <p>
                {{ form.title.label }}<br>{{ form.title }}<br>
                {{ form.title.errors }}<br>
           </p>
            <p>
                {{ form.place.label }}<br>
                {{ form.place }}
                <br>{{ form.place.errors }}
           </p>
        </fieldset>
        <fieldset>
            <p>
                {{ form.legit }}{{ form.legit.label }}<br>
                {{ form.legit.help_text }}
                <br>{{ form.legit.errors }}
            </p>
            <p>
                {{ form.etiquette }}{{ form.etiquette.label }}<br>
                {{ form.etiquette.help_text }}
                <br>{{ form.etiquette.errors }}
            </p>
            <p>
                {{ form.binary }}{{ form.binary.label }}<br>
                {{ form.binary.help_text }}
                <br>{{ form.binary.errors }}
            </p>
            <p>(peers will be asked to answer the same questions during the validation phase)</p>
        </fieldset>
        <fieldset>
            <input type="submit" name="validate" value="{% trans "The proposal is ready! Send for peer validation" %}"/>
            <input type="submit" name="save" value="{% trans "save for later" %}"/>
            <input type="submit" name="cancel" value="{% trans "cancel" %}"/>
        </fieldset>
    </form>
    <div id="notes">
        <p>The title of your proposal cannot change once validated by peers. You will be able to add content, tags, relations and more, after this initial validation phase. Once validated, your proposal will be visible to all. You will however keep full control over it, until you select moderators to help you develop your idea, or even decide to open selected fields to the public.</p>
    </div>
</div>

{% endblock %}
