{% extends 'agora/list.html' %}
{% block content %}

{% load i18n %}
{% load usertags %}

<div class="p_list">
    {% if not ps %}
        <span class="p_empty_list">{% trans "There are no germs." %}</span>
    {% else %}
        <ul>
        {% for t in ts %}
            {% with p=t.proposal breadcrumbs=t.breadcrumbs %}
                <li><div class="p_card">
                    <div class="p_frame">
                        <div class="p_picture">
                        </div>
                        <div class="p_place">
                            {% include 'place/breadcrumb.html' %}
                        </div>
                        <div class="p_title">
                            <h3>{{ p.title }}</h3>
                        </div>
                        <div class="p_tags">
                            {% include 'proposal/tags.html' %}
                        </div>
                        <div class="p_menu">
                            {% include 'germ/menu.html' %}
                        </div>
                    </div>
                </div></li>
            {% endwith %}
        {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}
