{% load i18n %}

<ul>
    <li>
        <a href="{% url 'germ:edit' pk=p.pk %}">
            {% trans "edit" %}
        </a>
    </li>
    <li>
        {% trans "send for validation" %}
    </li>
    <li>
        {% trans "delete" %}
    </li>
</ul>
