{% extends 'agora/content.html' %}
{% block content %}

{% load i18n %}

<div class="p_frame">
    <div class="p_sponsor">
        {% include 'proposal/sponsors.html' %}
    </div>
    <div class="p_header">
        <div class="p_title">
            {% include 'proposal/title.html' %}
        </div>
        <div class="p_place">
            {% include 'place/breadcrumb.html' %}
        </div>
        <div class="p_picture">
            {% include 'cover/insert.html' %}
            <p><a href="{% url 'proposal:cover:view' pk=p.pk slug=p.slug %}">{% trans "edit" %}</a></p>
        </div>
        <div class="p_sponsor">
            {% include 'proposal/sponsors.html' %}
        </div>
        <div class="p_control">
            {% include 'control/control.html' %}
        </div>
        <div class="p_status">
            {% include 'proposal/status.html' %}
        </div>
        <div class="p_moderators">
            {% include 'proposal/moderators.html' %}
        </div>
        <div class="p_tags">
            {% include 'tag/list.html' %}
            <p><a href="{% url 'proposal:tag:view' pk=p.pk slug=p.slug %}">{% trans "edit" %}</a></p>
        </div>
        <div class="p_meta">
            {% include 'proposal/meta.html' %}
        </div>
        <div class="p_menu">
            {% include 'proposal/menu.html' %}
        </div>
    </div>
    <div class="p_content">
        {% block proposal_content %}
        {% endblock %}
    </div>
</div>

{% endblock %}
