{% load i18n %}

<p>
    <span>{% trans "shortcuts:" %}</span>
    <ul>
        <li>
            <a href="{% url 'proposal:content' pk=p.pk slug=p.slug %}">
                {% trans "home" %}
            </a>
        </li>
        <li>
            <a href="{% url 'proposal:discuss' pk=p.pk slug=p.slug %}">
                {% trans "discuss" %}
            </a>
        </li>
        <li>
            <a href="{% url 'proposal:reference' pk=p.pk slug=p.slug %}">
                {% trans "reference" %}
            </a>
        </li>
        <li>
            <a href="{% url 'proposal:charter' pk=p.pk slug=p.slug %}">
                {% trans "charter" %}
            </a>
        </li>
        <li>
            <a href="{% url 'proposal:statistics' pk=p.pk slug=p.slug %}">
                {% trans "statistics" %}
            </a>
        </li>
        <li>
            {% trans "share" %}
        </li>
        <li>
            {% trans "clone" context "verb" %}
        </li>
        <li>
            {% trans "sponsor" context "verb" %}
        </li>
        {% if p.recruiting %}
            <li>
                {% trans "we are recruiting moderators" %}
            </li>
        {% endif %}
    </ul>
</p>
