{% load humanize %}
{% load i18n %}

<p>
    <span>{% trans "status:" %}</span>
    <ul class="meta_entries">
        {% for c in counters %}
            <li>
                {% if c.url %}
                    <a href="{{ c.url }}">
                        {{ c.label }}
                        {{ c.count|intcomma }}
                    </a>
                {% else %}
                    {{ c.label }}
                    {{ c.count|intcomma }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</p>
