{% load usertags %}
{% load i18n %}

{% if p.moderators.exists %}

<p>
    <span class="moderator_label">{% blocktrans count cnt=p.moderators.all.count %}moderator{% plural %}moderators{% endblocktrans %}</span>
    <ul class="moderator_entries">
        {% for s in p.moderators.all %}
            <li {% if forloop.last %} class='last'{% endif %}>
                {% getuserlink s p %}
                {{ userlink }}
            </li>
        {% endfor %}
    </ul>
</p>

{% endif %}
