{% if p.sponsors.exists %}

{% load usertags %}
{% load i18n %}

<p><span class="sponsor_label">{% trans "Proposal sponsored by" %}</span>
<ul class="sponsor_entries">
    {% for s in p.sponsors.all %}
        <li {% if forloop.last %} class='last'{% endif %}>
            {% getuserlink s p %}
            {{ userlink }}
        </li>
    {% endfor %}
</ul></p>

{% endif %}
