{% load usertags %}
{% load i18n %}
{% load humanize %}

{% getuserlink p.creator p %}
<p class="p_status_creator">
    {% blocktrans with date=p.creation_date|date:"DATE_FORMAT" %}Proposal created by {{ userlink }} on {{ date }}.{% endblocktrans %}
</p>

{% if not p.active %}

    <p class="p_status_inactive">
        {% trans "This proposal is deactivated." %}
    </p>

{% endif %}
