{% extends 'synopsis/popup.html' %}
{% load i18n %}

{% block popup_subsubtitle %}{% trans "New synopsis" %}{% endblock %}

{% block popup_content %}


<form action="{% url 'proposal:synopsis:add' pk=pk slug=slug %}" method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.content }}
    <p>
    {% trans "help with format" as l %}
    <a href="{% url 'markdown' %}" title="{{ l }}" target="_blank">{{ l }}</a>
    </p>
    <div>
    <p>{{ form.message }}</p>
    {% if form.message.errors %}
        <p>{{ form.message.errors }}</p>
    {% endif %}
    </div>
    <input type="submit" name="add" value="{% trans "submit synopsis" %}" />
</form>
{% endblock %}
