{% extends "proposal/main.html" %}

{% block proposal_content %}

{% load i18n %}
{% load django_markdown %}

<p class="p_synopsis">
    {{ p.synopsis.content|markdown_safe }}
    <p><a href="{% url 'proposal:synopsis:view' pk=p.pk slug=p.slug %}">{% trans "edit" %}</a></p>
</p>

{% endblock %}
