{% load i18n %}
{% load usertags %}

<div>
<p>
{% if synopsis == p.synopsis %}*{% endif %}
{% if s.deleted %}
     {% trans "deleted" %}
{% else %}
    {{ synopsis.content|truncatewords:truncate }}
{% endif %}
</p>

{% getuserlink synopsis.creator p %}
<p><small>{% blocktrans with creator=userlink cdate=synopsis.creation_date %}Edited by {{ creator }} on {{ cdate }}{% endblocktrans %}</small></p>
</div>
