{% extends 'synopsis/popup.html' %}
{% load i18n %}

{% block popup_subsubtitle %}{% trans "Selection" %}{% endblock %}

{% block popup_content %}

{% with synopsis=s truncate=50 %}
    {% include 'synopsis/item.html' %}
{% endwith %}

<form action="{% url 'proposal:synopsis:select' pk=pk slug=slug synopsis=s.pk %}" method="post" novalidate>
    {% csrf_token %}
    <div>
    <p>{{ form.message }}</p>
    {% if form.message.errors %}
        <p>{{ form.message.errors }}</p>
    {% endif %}
    </div>
    <p><input type="submit" name="select" value="{% trans "apply" %}" /></p>
</form>

{% endblock %}
