{% extends 'synopsis/popup.html' %}
{% load i18n %}
{% load usertags %}

{% block popup_subsubtitle %}{% trans "View" %}{% endblock %}

{% block popup_content %}

{% if source %}
{{ s.content }}
{% else %}
{% load django_markdown %}
{{ s.content|markdown }}
{% endif %}

{% getuserlink s.creator p %}
<p><small>{% blocktrans with creator=userlink cdate=s.creation_date %}Edited by {{ creator }} on {{ cdate }}{% endblocktrans %}</small></p>

{% endblock %}
