{% extends 'synopsis/popup.html' %}
{% load i18n %}

{% block popup_subsubtitle %}{% trans "History" %}{% endblock %}

{% block popup_content %}
<p>
<a href="{% url 'proposal:synopsis:add' pk=pk slug=slug %}" title="new">new (start empty)</a>
</p>

<ul>
{% for s in synopsia reversed %}
    <li>
        {% with synopsis=s truncate=10 %}
            {% include 'synopsis/item.html' %}
        {% endwith %}
        {% if not s.deleted %}
            <ul>
            <li><a href="{% url 'proposal:synopsis:single' pk=pk slug=slug synopsis=s.pk %}" title="view this version">view</a></li>
            <li><a href="{% url 'proposal:synopsis:single' pk=pk slug=slug synopsis=s.pk %}?src=1" title="view source">view source</a></li>
            <li><a href="" title="differences with previous">view diff</a></li>
            {% trans "new from this version" as l %}
            <li><a href="{% url 'proposal:synopsis:add' pk=pk slug=slug %}?pk={{ s.pk }}" title="{{ l }}">{{ l }}</a></li>
            {% if s != p.synopsis %}
                <li><a href="{% url 'proposal:synopsis:select' pk=pk slug=slug synopsis=s.pk %}" title="select this version">select</a></li>
            {% endif %}
            {% if s != p.synopsis_root %}
                <li><a href="{% url 'proposal:synopsis:delete' pk=pk slug=slug synopsis=s.pk %}" title="delete this version">delete</a></li>
            {% endif %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
</ul>

{% endblock %}
