{% extends extend %}
{% block content %}

{% load i18n %}

<div>
    <form action="{% url 'account:register' %}" method="post" novalidate>
        {% csrf_token %}
        <fieldset>
            <h1>{% trans "Sign up for an anonymous account" context "sign up" %}</h1>
            <p>{% trans "Voice your opinion and forge tomorrow's ideas!" context "sign up" %}</p>
        </fieldset>
        <fieldset>
            <p>
                {{ form.lockId }} {{ form.username.label }}<br>
                {{ form.username }}<br>
                {{ form.username.help_text }}
                (<input type="submit" name="refresh" value="{% trans "refresh list" context "sign up" %}" />)
            </p>
            <p>
                {{ form.reverse }}
                {{ form.reverse.label }}
            </p>
        </fieldset>
        <fieldset>
            <p>
                {{ form.email.label }}<br>
                {{ form.email }}
                <br>{{ form.email.errors }}
            </p>
            <p>
                {{ form.password1.label }}<br>
                {{ form.password1 }}
                <br>{{ form.password1.errors }}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2 }}
                <br>{{ form.password2.errors }}
            </p>
        </fieldset>
        <fieldset>
            <p>
                {{ form.birth.label }}<br>
                {{ form.birth }}
                <br>{{ form.birth.errors }}
            </p>
            <p>
                {{ form.place.label }}<br>
                {{ form.place }}
                <br>{{ form.place.errors }}
           </p>
        </fieldset>
        <fieldset>
            <input type="submit" name="cancel" value="{% trans "cancel" context "sign up" %}"/>
            <input type="submit" name="validate" value="{% trans "sign up" context "sign up" %}"/>
        </fieldset>
    </form>
</div>

{% endblock %}
