{% extends extend %}

{% block content %}

{% load i18n %}
{% load usertags %}
{% load humanize %}

<div class="u_frame">
    <div class="u_header">
        <div class="u_title">
            <h3>{{ u.username }}</h3>
        </div>
        <div class="u_meta">
            {% blocktrans with username=u.username joined=u.date_joined|date:"DATE_FORMAT" %}{{ username }} is {{ age }}, and a member since {{ joined }}.{% endblocktrans %}
            <div class="compatibility_percentage">
            </div>
            {% for s in ss %}
                <div class="u_count">
                    {% if s.cnt %}
                        <a href="{{ s.url }}">
                            {{ s.label }} {{ s.cnt }}
                        </a>
                    {% else %}
                            {{ s.label }} {{ s.cnt }}
                    {% endif %}
                </div>
            {% endfor %}
        <p>todo</p>
        <ul>
        <li>number of messages</li>
        <li>reputability</li>
        <li>godwin points</li>
        <li>most starred message</li>
        <li>most stars</li>
        <li>most starred proposal</li>
        <li>total stars received</li>
        <li>total stars given</li>
        </ul></div>
    </div>
</div>

{% endblock %}
