{% extends 'tag/popup.html' %}
{% load i18n %}

{% block popup_subsubtitle %}{% trans "Tagging" %}{% endblock %}

{% block popup_content %}

<form action="{% url 'proposal:tag:add' pk=pk slug=slug %}" method="post" novalidate>
    {% csrf_token %}
    {{ form.label }}
    {{ form.label.errors }}
    <div>
    <p>{{ form.message }}</p>
    {% if form.message.errors %}
        <p>{{ form.message.errors }}</p>
    {% endif %}
    </div>
    <input type="submit" name="add" value="{% trans "tag" %}" />
</form>

{% endblock %}
