{% extends 'tag/popup.html' %}
{% load i18n %}

{% block popup_subsubtitle %}{% trans "Deletion" %}{% endblock %}

{% block popup_content %}

<p>
{% blocktrans with tag=t.label %}
Remove tag '{{ tag }}' from this proposition?
{% endblocktrans %}
</p>

<form action="{% url 'proposal:tag:delete' pk=pk slug=slug tag=tag %}" method="post" novalidate>
    {% csrf_token %}
    <div>
    <p>{{ form.message }}</p>
    {% if form.message.errors %}
        <p>{{ form.message.errors }}</p>
    {% endif %}
    </div>
    <input type="submit" name="remove" value="{% trans "remove tag" %}" />
</form>

{% endblock %}
