{% if p.tags.exists %}

{% load i18n %}

<p>
    <span>{% trans "tags:" %}</span>
    <ul class="tags">
    {% for t in p.tags.all %}
        {% with pk=t.pk %}
            <li {% if forloop.last %} class='last'{% endif %}>
                <a href="{% url 'tag:list' tag=pk slug=t.slug %}" title="{% blocktrans with tag=t.label %}show proposals with tag: {{ tag }}{% endblocktrans %}">{{ t.label }}</a>
            </li>
        {% endwith %}
    {% endfor %}
</ul></p>

{% else %}
    <p>no tags</p>
{% endif %}
