{% extends 'agora/flat_popup.html' %}
{% load i18n %}

{% block popup_title %}<a href="{% url 'proposal:content' pk=pk slug=slug %}" title="{{ p.title }}">{{ p.title }}</a>{% endblock %}

{% block popup_subtitle %}
{% trans "Tag management" as title %}
<a href="{% url 'proposal:cover:view' pk=pk slug=slug %}" title="{{ title }}">{{ title }}</a>
{% endblock %}

{% block popup_close %}{% url 'proposal:content' pk=pk slug=slug %}{% endblock %}
