{% extends 'tag/popup.html' %}
{% load i18n %}

{% block popup_subsubtitle %}{% trans "All tags" %}{% endblock %}

{% block popup_content %}

{% if p.tags.exists %}
    <ul>
        {% for t in p.tags.all %}
            <li>
                {{ t.label }}
                (<a href="{% url 'proposal:tag:delete' pk=p.pk slug=p.slug tag=t.pk %}" title="{% trans "delete tag:" %} {{ t.label }}">{% trans "delete" %}</a>)
            </li>
        {% endfor %}
    </ul>
{% else %}
    {% trans "This proposal is not tagged." %}
{% endif %}

<p>
<a href="{% url 'proposal:tag:add' pk=p.pk slug=p.slug %}" title="add a tag">add</a>
</p>

{% endblock %}
